In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Data.csv')

In [7]:
data.head()

,Position,Game,Console,Publisher,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update
0,1,Tetris,Series,Nintendo,496.40m,NaN,NaN,NaN,NaN,NaN,31st Jul 89,27th Feb 20
1,2,Pokemon,Series,Nintendo,452.94m,NaN,NaN,NaN,NaN,NaN,28th Sep 98,03rd Feb 20
2,3,Call of Duty,Series,Activision,400.00m,NaN,NaN,NaN,NaN,NaN,29th Oct 03,03rd Feb 20
3,4,Super Mario,Series,Nintendo,394.96m,NaN,NaN,NaN,NaN,NaN,20th Jul 83,20th Feb 20
4,5,Grand Theft Auto,Series,Rockstar Games,385.00m,NaN,NaN,NaN,NaN,NaN,27th Mar 98,03rd Feb 20

In [4]:
data['Total Sales'].isna()

0        True
1        True
2        True
3        True
4        True
         ...
62418    True
62419    True
62420    True
62421    True
62422    True
Name: Total Sales, Length: 62423, dtype: bool

In [8]:
salesColumns = data['Total Sales'].dropna()

In [25]:
# Remove white space
data['Publisher'] = data['Publisher'].apply(lambda x: x.strip())

In [30]:
data['Publisher'].nunique()

3365