In [40]:
import pandas as pd
import numpy as np

In [41]:
data = pd.read_csv('Data.csv')

In [42]:
data.head()

,Position,Game,Console,Publisher,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update
0,1,Tetris,Series,Nintendo,496.40m,NaN,NaN,NaN,NaN,NaN,31st Jul 89,27th Feb 20
1,2,Pokemon,Series,Nintendo,452.94m,NaN,NaN,NaN,NaN,NaN,28th Sep 98,03rd Feb 20
2,3,Call of Duty,Series,Activision,400.00m,NaN,NaN,NaN,NaN,NaN,29th Oct 03,03rd Feb 20
3,4,Super Mario,Series,Nintendo,394.96m,NaN,NaN,NaN,NaN,NaN,20th Jul 83,20th Feb 20
4,5,Grand Theft Auto,Series,Rockstar Games,385.00m,NaN,NaN,NaN,NaN,NaN,27th Mar 98,03rd Feb 20

In [43]:
data['Total Sales'].isna()

0        True
1        True
2        True
3        True
4        True
         ...
62418    True
62419    True
62420    True
62421    True
62422    True
Name: Total Sales, Length: 62423, dtype: bool

In [53]:
salesColumns = data['Total Sales'].dropna()

In [45]:
# Remove white space
data['Publisher'] = data['Publisher'].apply(lambda x: x.strip())

In [46]:
data['Publisher'].nunique()

3365

In [47]:
data['Total Shipped'].isna().sum()

58234

In [54]:
salesColumns

160      20.32m
186      19.39m
219      16.15m
225      15.86m
231      15.09m
          ...
23164     0.00m
23165     0.00m
23166     0.00m
23167     0.00m
23168     0.00m
Name: Total Sales, Length: 18980, dtype: object